<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <connectionStrings>
      <add name="SQLConnString" connectionString="Data Source=JIAZHAOKAI-PC;User Id=sa;Password=123;Database=AnotherPayment;"/>
    </connectionStrings>
    <appSettings>
      <!--图片路径-->
      <add key="serPath" value="E:\upLoad\" />
      <!--服务器图片路径-->
      <add key="serPathServer" value="http://localhost:64041/upLoad/" />

      <!--配置管理员帐号密码-->
      <add key="defultUserName" value="sa" />
      
      <!--配置管理员帐号密码-->
      <add key="adminUserName" value="admin" />
      <add key="adminPassword" value="123" />
      
      <add key="Url1" value="https://wap.bank.ecitic.com/CyberpayFOServer/ewmyx.html?c=140506&amp;mobile=" />
      <add key="Url2" value="http://211.151.124.231:8091/download.html?c=140506&amp;mobile=" />
      <add key="Url3" value="http://211.151.124.231:8091/ShortUrlServlet?operate=submit&amp;url=http%3A%2F%2Fcitic.lnk8.cn%2FZZts88&amp;mobile=" />
      <add key="Url4" value="http://211.151.124.231:8091/ShortUrlServlet?operate=submit&amp;url=http%3A%2F%2Fcitic.lnk8.cn%2Fpk8og8&amp;mobile=" />
      <add key="Url5" value="http://citic.lnk8.cn/ZZts88?idtype=8&amp;mobile=" />
      <add key="Url6" value="http://citic.lnk8.cn/pk8og8?idtype=8&amp;mobile=" />
    </appSettings>
</configuration>
